<!--  -->

<div class="cards">
  <% Cat.all.each do |cat| %>
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <%= cat.name %>
    </div>
    <div class="card-copy">
      <p><%= cat.description %> </p>
    </div>
  </div>
  <% end %>
</div>
<!--  -->
