<h1 style = "padding: 15px">Subscribe to updates about all of your favorite cats today! Once a week we will send you emails
so updating on the status of cats in the shelter.</h1>
<div class="subscribe">
  <form class="form_tag" action="/email" method="POST">
    <input type="radio" name="subscribe" value="yes"> Yes<br>
    <input type="radio" name="subscrible" value="no"> No<br>
    <input type="submit" value="Submit">
  </form>
</div>
